<h3> At the Talking Economics conference on the 19th November, Dimitri Zenghleis claimed that "low corruption leads to prosperity". I will investigate this claim by comparing the corruption index to GDP per capita of various countries.</h3>

In [70]:
import numpy as np, pandas as pd, requests

In [71]:
## uploaded CSV files into local file

# Cleaning corruption dataset

In [72]:
## create corruption index df
corruption = pd.read_csv('corruption_Index.csv')
print(corruption)

    Corruption Perceptions Index 2020: Score timeseries since 2012  ...          Unnamed: 33
0                                                  NaN              ...                  NaN
1                                              Country              ...  Standard error 2012
2                                              Denmark              ...                    2
3                                          New Zealand              ...                  2.2
4                                              Finland              ...                    3
..                                                 ...              ...                  ...
177                                          Venezuela              ...                  2.1
178                                              Yemen              ...                  2.2
179                                              Syria              ...                  2.7
180                                            Somalia              ...                  2.3
181                                        South Sudan              ...                  NaN

[182 rows x 34 columns]

In [73]:
## rename relevant columns
corruption.head()
corruption.rename(columns={"Corruption Perceptions Index 2020: Score timeseries since 2012":"Country","Unnamed: 1": "Country code", "Unnamed: 3": "CPI score 2020"}, inplace=True)

In [74]:
corruption.head()

       Country Country code  ...   Unnamed: 32          Unnamed: 33
0          NaN          NaN  ...           NaN                  NaN
1      Country         ISO3  ...  Sources 2012  Standard error 2012
2      Denmark          DNK  ...             7                    2
3  New Zealand          NZL  ...             7                  2.2
4      Finland          FIN  ...             7                    3

[5 rows x 34 columns]

In [75]:
## new df with only relevant columns
corruption2 = corruption[['Country','Country code','CPI score 2020']]
corruption2

         Country Country code  CPI score 2020
0            NaN          NaN             NaN
1        Country         ISO3  CPI score 2020
2        Denmark          DNK              88
3    New Zealand          NZL              88
4        Finland          FIN              85
..           ...          ...             ...
177    Venezuela          VEN              15
178        Yemen          YEM              15
179        Syria          SYR              14
180      Somalia          SOM              12
181  South Sudan          SSD              12

[182 rows x 3 columns]

In [76]:
## drop the first irrelevant 2 rows leftover from original csv formatting
corruption2 = corruption2.iloc[1: , :]
corruption2

         Country Country code  CPI score 2020
1        Country         ISO3  CPI score 2020
2        Denmark          DNK              88
3    New Zealand          NZL              88
4        Finland          FIN              85
5      Singapore          SGP              85
..           ...          ...             ...
177    Venezuela          VEN              15
178        Yemen          YEM              15
179        Syria          SYR              14
180      Somalia          SOM              12
181  South Sudan          SSD              12

[181 rows x 3 columns]

In [77]:
## reset index
corruption2.reset_index(inplace=True)

In [78]:
## drop old index
corruption2.drop(columns=['index'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [79]:
## renaming columns for merging
corruption2.rename(columns={"Country": "Country name", "Country code": "Country"}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [80]:
corruption2

    Country name Country  CPI score 2020
0        Country    ISO3  CPI score 2020
1        Denmark     DNK              88
2    New Zealand     NZL              88
3        Finland     FIN              85
4      Singapore     SGP              85
..           ...     ...             ...
176    Venezuela     VEN              15
177        Yemen     YEM              15
178        Syria     SYR              14
179      Somalia     SOM              12
180  South Sudan     SSD              12

[181 rows x 3 columns]

# Cleaning GDP per capita dataset

In [81]:
## create GDP per capita df
gdp_percap = pd.read_csv ('GDP_perCapita.csv')
print(gdp_percap)

       LOCATION INDICATOR SUBJECT  ...  TIME        Value  Flag Codes
0           AUS       GDP     TOT  ...  1960  25073.26000         NaN
1           AUS       GDP     TOT  ...  1961  25364.88100         NaN
2           AUS       GDP     TOT  ...  1962  27955.35700         NaN
3           AUS       GDP     TOT  ...  1963  30432.97900         NaN
4           AUS       GDP     TOT  ...  1964  32745.28900         NaN
...         ...       ...     ...  ...   ...          ...         ...
4825  EU27_2020       GDP     TOT  ...  2016  39222.74144         NaN
4826  EU27_2020       GDP     TOT  ...  2017  40792.34759         NaN
4827  EU27_2020       GDP     TOT  ...  2018  42138.41971         NaN
4828  EU27_2020       GDP     TOT  ...  2019  43554.20279         NaN
4829  EU27_2020       GDP     TOT  ...  2020  41584.42411         NaN

[4830 rows x 8 columns]

In [82]:
gdp_percap.head()

  LOCATION INDICATOR SUBJECT  MEASURE FREQUENCY  TIME      Value Flag Codes
0      AUS       GDP     TOT  MLN_USD         A  1960  25073.260        NaN
1      AUS       GDP     TOT  MLN_USD         A  1961  25364.881        NaN
2      AUS       GDP     TOT  MLN_USD         A  1962  27955.357        NaN
3      AUS       GDP     TOT  MLN_USD         A  1963  30432.979        NaN
4      AUS       GDP     TOT  MLN_USD         A  1964  32745.289        NaN

In [83]:
## renaming relevant columns
gdp_percap.rename(columns={"LOCATION":"Country","TIME": "Year", "Value": "GDP per capita"}, inplace=True)

In [84]:
## excluding irrelevant columns
gdp_percap_filtered= gdp_percap[gdp_percap['MEASURE'] == 'USD_CAP']
gdp_percap_filtered2= gdp_percap_filtered[gdp_percap_filtered['Year'] == 2020]

In [85]:
gdp_percap_filtered2

        Country INDICATOR SUBJECT  ...  Year GDP per capita  Flag Codes
121         AUS       GDP     TOT  ...  2020    54654.22634         NaN
223         AUT       GDP     TOT  ...  2020    55651.10621         NaN
325         BEL       GDP     TOT  ...  2020    52781.88005           P
436         CAN       GDP     TOT  ...  2020    48090.98651         NaN
498         CZE       GDP     TOT  ...  2020    42044.23840         NaN
608         DNK       GDP     TOT  ...  2020    60566.22561         NaN
710         FIN       GDP     TOT  ...  2020    50810.73080         NaN
832         FRA       GDP     TOT  ...  2020    46421.73184           P
934         DEU       GDP     TOT  ...  2020    54315.54634           P
1046        GRC       GDP     TOT  ...  2020    28369.40387           P
1106        HUN       GDP     TOT  ...  2020    33252.56356           P
1208        ISL       GDP     TOT  ...  2020    55213.38366         NaN
1310        IRL       GDP     TOT  ...  2020    95512.58610         NaN
1412        ITA       GDP     TOT  ...  2020    41963.86640         NaN
1514        JPN       GDP     TOT  ...  2020    41775.23655           E
1616        KOR       GDP     TOT  ...  2020    43318.88612           P
1718        LUX       GDP     TOT  ...  2020   118726.49690         NaN
1820        MEX       GDP     TOT  ...  2020    19322.06922           P
1924        NLD       GDP     TOT  ...  2020    59334.69685           P
2026        NZL       GDP     TOT  ...  2020    44011.18022           E
2128        NOR       GDP     TOT  ...  2020    63293.19691         NaN
2190        POL       GDP     TOT  ...  2020    34044.53493         NaN
2292        PRT       GDP     TOT  ...  2020    34118.73755           P
2350        SVK       GDP     TOT  ...  2020    32004.15232         NaN
2452        ESP       GDP     TOT  ...  2020    38341.43441           P
2564        SWE       GDP     TOT  ...  2020    54929.52463         NaN
2666        CHE       GDP     TOT  ...  2020    71705.42920           P
2768        TUR       GDP     TOT  ...  2020    28435.40219         NaN
2890        GBR       GDP     TOT  ...  2020    45944.46043         NaN
2992        USA       GDP     TOT  ...  2020    63285.23226         NaN
3062        CHL       GDP     TOT  ...  2020    24647.63046           E
3242        COL       GDP     TOT  ...  2020    14999.32554           E
3298        EST       GDP     TOT  ...  2020    37984.47356         NaN
3482        ISR       GDP     TOT  ...  2020    42402.74001         NaN
3534        RUS       GDP     TOT  ...  2020    28219.91796           E
3591        SVN       GDP     TOT  ...  2020    40073.26378         NaN
3678        ZAF       GDP     TOT  ...  2020    12354.98363         NaN
3824       OECD       GDP     TOT  ...  2020    44986.35809           E
3877      OECDE       GDP     TOT  ...  2020    43900.63193           P
3930        LVA       GDP     TOT  ...  2020    32224.02599         NaN
4025        LTU       GDP     TOT  ...  2020    39189.39085         NaN
4127        SAU       GDP     TOT  ...  2020    46362.64949         NaN
4179       EA19       GDP     TOT  ...  2020    47095.37061         NaN
4272        CRI       GDP     TOT  ...  2020    21043.57530           E
4324        BGR       GDP     TOT  ...  2020    24626.05945           P
4376        HRV       GDP     TOT  ...  2020    29119.81523           E
4428        CYP       GDP     TOT  ...  2020    39857.61993           P
4480        MLT       GDP     TOT  ...  2020    44200.32250         NaN
4548        ROU       GDP     TOT  ...  2020    31875.14911           P
4829  EU27_2020       GDP     TOT  ...  2020    41584.42411         NaN

[50 rows x 8 columns]

In [86]:
## new df with only relevant rows
gdp_percap2 = gdp_percap_filtered2[['Country','Year','GDP per capita']]

In [87]:
gdp_percap2

        Country  Year  GDP per capita
121         AUS  2020     54654.22634
223         AUT  2020     55651.10621
325         BEL  2020     52781.88005
436         CAN  2020     48090.98651
498         CZE  2020     42044.23840
608         DNK  2020     60566.22561
710         FIN  2020     50810.73080
832         FRA  2020     46421.73184
934         DEU  2020     54315.54634
1046        GRC  2020     28369.40387
1106        HUN  2020     33252.56356
1208        ISL  2020     55213.38366
1310        IRL  2020     95512.58610
1412        ITA  2020     41963.86640
1514        JPN  2020     41775.23655
1616        KOR  2020     43318.88612
1718        LUX  2020    118726.49690
1820        MEX  2020     19322.06922
1924        NLD  2020     59334.69685
2026        NZL  2020     44011.18022
2128        NOR  2020     63293.19691
2190        POL  2020     34044.53493
2292        PRT  2020     34118.73755
2350        SVK  2020     32004.15232
2452        ESP  2020     38341.43441
2564        SWE  2020     54929.52463
2666        CHE  2020     71705.42920
2768        TUR  2020     28435.40219
2890        GBR  2020     45944.46043
2992        USA  2020     63285.23226
3062        CHL  2020     24647.63046
3242        COL  2020     14999.32554
3298        EST  2020     37984.47356
3482        ISR  2020     42402.74001
3534        RUS  2020     28219.91796
3591        SVN  2020     40073.26378
3678        ZAF  2020     12354.98363
3824       OECD  2020     44986.35809
3877      OECDE  2020     43900.63193
3930        LVA  2020     32224.02599
4025        LTU  2020     39189.39085
4127        SAU  2020     46362.64949
4179       EA19  2020     47095.37061
4272        CRI  2020     21043.57530
4324        BGR  2020     24626.05945
4376        HRV  2020     29119.81523
4428        CYP  2020     39857.61993
4480        MLT  2020     44200.32250
4548        ROU  2020     31875.14911
4829  EU27_2020  2020     41584.42411

In [88]:
## reset index
gdp_percap2.reset_index(inplace=True)

In [89]:
gdp_percap2.drop(columns=['index'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [90]:
gdp_percap2

      Country  Year  GDP per capita
0         AUS  2020     54654.22634
1         AUT  2020     55651.10621
2         BEL  2020     52781.88005
3         CAN  2020     48090.98651
4         CZE  2020     42044.23840
5         DNK  2020     60566.22561
6         FIN  2020     50810.73080
7         FRA  2020     46421.73184
8         DEU  2020     54315.54634
9         GRC  2020     28369.40387
10        HUN  2020     33252.56356
11        ISL  2020     55213.38366
12        IRL  2020     95512.58610
13        ITA  2020     41963.86640
14        JPN  2020     41775.23655
15        KOR  2020     43318.88612
16        LUX  2020    118726.49690
17        MEX  2020     19322.06922
18        NLD  2020     59334.69685
19        NZL  2020     44011.18022
20        NOR  2020     63293.19691
21        POL  2020     34044.53493
22        PRT  2020     34118.73755
23        SVK  2020     32004.15232
24        ESP  2020     38341.43441
25        SWE  2020     54929.52463
26        CHE  2020     71705.42920
27        TUR  2020     28435.40219
28        GBR  2020     45944.46043
29        USA  2020     63285.23226
30        CHL  2020     24647.63046
31        COL  2020     14999.32554
32        EST  2020     37984.47356
33        ISR  2020     42402.74001
34        RUS  2020     28219.91796
35        SVN  2020     40073.26378
36        ZAF  2020     12354.98363
37       OECD  2020     44986.35809
38      OECDE  2020     43900.63193
39        LVA  2020     32224.02599
40        LTU  2020     39189.39085
41        SAU  2020     46362.64949
42       EA19  2020     47095.37061
43        CRI  2020     21043.57530
44        BGR  2020     24626.05945
45        HRV  2020     29119.81523
46        CYP  2020     39857.61993
47        MLT  2020     44200.32250
48        ROU  2020     31875.14911
49  EU27_2020  2020     41584.42411

# Merging datasets

In [91]:
## merge corruption2 and gdp_percap2
merged_data= pd.merge(
    corruption2,
    gdp_percap2,
    how="inner",
    on='Country',
    left_on=None,
    right_on=None,
    left_index=True,
    right_index=False,
    sort=True,
    suffixes=("_x", "_y"),
    copy=True,
    indicator=False,
    validate="one_to_one",
)

In [92]:
merged_data

                Country name Country CPI score 2020  Year  GDP per capita
0                  Australia     AUS             77  2020     54654.22634
1                    Austria     AUT             76  2020     55651.10621
2                    Belgium     BEL             76  2020     52781.88005
44                  Bulgaria     BGR             44  2020     24626.05945
3                     Canada     CAN             77  2020     48090.98651
26               Switzerland     CHE             85  2020     71705.42920
30                     Chile     CHL             67  2020     24647.63046
31                  Colombia     COL             39  2020     14999.32554
43                Costa Rica     CRI             57  2020     21043.57530
46                    Cyprus     CYP             57  2020     39857.61993
4                    Czechia     CZE             54  2020     42044.23840
8                    Germany     DEU             80  2020     54315.54634
5                    Denmark     DNK             88  2020     60566.22561
24                     Spain     ESP             62  2020     38341.43441
32                   Estonia     EST             75  2020     37984.47356
6                    Finland     FIN             85  2020     50810.73080
7                     France     FRA             69  2020     46421.73184
28            United Kingdom     GBR             77  2020     45944.46043
9                     Greece     GRC             50  2020     28369.40387
45                   Croatia     HRV             47  2020     29119.81523
10                   Hungary     HUN             44  2020     33252.56356
12                   Ireland     IRL             72  2020     95512.58610
11                   Iceland     ISL             75  2020     55213.38366
33                    Israel     ISR             60  2020     42402.74001
13                     Italy     ITA             53  2020     41963.86640
14                     Japan     JPN             74  2020     41775.23655
15              Korea, South     KOR             61  2020     43318.88612
40                 Lithuania     LTU             60  2020     39189.39085
16                Luxembourg     LUX             80  2020    118726.49690
39                    Latvia     LVA             57  2020     32224.02599
17                    Mexico     MEX             31  2020     19322.06922
47                     Malta     MLT             53  2020     44200.32250
18               Netherlands     NLD             82  2020     59334.69685
20                    Norway     NOR             84  2020     63293.19691
19               New Zealand     NZL             88  2020     44011.18022
21                    Poland     POL             56  2020     34044.53493
22                  Portugal     PRT             61  2020     34118.73755
48                   Romania     ROU             44  2020     31875.14911
34                    Russia     RUS             30  2020     28219.91796
41              Saudi Arabia     SAU             53  2020     46362.64949
23                  Slovakia     SVK             49  2020     32004.15232
35                  Slovenia     SVN             60  2020     40073.26378
25                    Sweden     SWE             85  2020     54929.52463
27                    Turkey     TUR             40  2020     28435.40219
29  United States of America     USA             67  2020     63285.23226
36              South Africa     ZAF             44  2020     12354.98363

In [93]:
## resetting the index reset index
merged_data.reset_index(inplace=True)

In [94]:
## dropping old index
merged_data.drop(columns=['index'], inplace=True)
merged_data

                Country name Country CPI score 2020  Year  GDP per capita
0                  Australia     AUS             77  2020     54654.22634
1                    Austria     AUT             76  2020     55651.10621
2                    Belgium     BEL             76  2020     52781.88005
3                   Bulgaria     BGR             44  2020     24626.05945
4                     Canada     CAN             77  2020     48090.98651
5                Switzerland     CHE             85  2020     71705.42920
6                      Chile     CHL             67  2020     24647.63046
7                   Colombia     COL             39  2020     14999.32554
8                 Costa Rica     CRI             57  2020     21043.57530
9                     Cyprus     CYP             57  2020     39857.61993
10                   Czechia     CZE             54  2020     42044.23840
11                   Germany     DEU             80  2020     54315.54634
12                   Denmark     DNK             88  2020     60566.22561
13                     Spain     ESP             62  2020     38341.43441
14                   Estonia     EST             75  2020     37984.47356
15                   Finland     FIN             85  2020     50810.73080
16                    France     FRA             69  2020     46421.73184
17            United Kingdom     GBR             77  2020     45944.46043
18                    Greece     GRC             50  2020     28369.40387
19                   Croatia     HRV             47  2020     29119.81523
20                   Hungary     HUN             44  2020     33252.56356
21                   Ireland     IRL             72  2020     95512.58610
22                   Iceland     ISL             75  2020     55213.38366
23                    Israel     ISR             60  2020     42402.74001
24                     Italy     ITA             53  2020     41963.86640
25                     Japan     JPN             74  2020     41775.23655
26              Korea, South     KOR             61  2020     43318.88612
27                 Lithuania     LTU             60  2020     39189.39085
28                Luxembourg     LUX             80  2020    118726.49690
29                    Latvia     LVA             57  2020     32224.02599
30                    Mexico     MEX             31  2020     19322.06922
31                     Malta     MLT             53  2020     44200.32250
32               Netherlands     NLD             82  2020     59334.69685
33                    Norway     NOR             84  2020     63293.19691
34               New Zealand     NZL             88  2020     44011.18022
35                    Poland     POL             56  2020     34044.53493
36                  Portugal     PRT             61  2020     34118.73755
37                   Romania     ROU             44  2020     31875.14911
38                    Russia     RUS             30  2020     28219.91796
39              Saudi Arabia     SAU             53  2020     46362.64949
40                  Slovakia     SVK             49  2020     32004.15232
41                  Slovenia     SVN             60  2020     40073.26378
42                    Sweden     SWE             85  2020     54929.52463
43                    Turkey     TUR             40  2020     28435.40219
44  United States of America     USA             67  2020     63285.23226
45              South Africa     ZAF             44  2020     12354.98363

In [95]:
## save dataset as csv
merged_data.to_csv('corruption_gdppercap.csv')