# Scraping athletic world records by gender and category

In [21]:
import requests, pandas as pd, numpy as np

In [3]:
tables=pd.read_html('https://www.worldathletics.org/records/by-category/world-records')

In [66]:
fOut=tables[0]
fIn=tables[1]
mOut=tables[2]
mIn=tables[3]
mixOut=tables[4]

In [67]:
fOut['Gender']='F'
fIn['Gender']='F'
mOut['Gender']='M'
mIn['Gender']='M'
mixOut['Gender']='Mix'

In [78]:
## add together outdoor sports
outdoor_df = fOut.append(mOut).append(mixOut)

In [ ]:
## create outdoor category column and remove irrelevant columns
outdoor_df['Category']='Outdoor'
outdoor= outdoor_df[["Country","Gender", "Category"]]
outdoor

In [ ]:
# repeat for indoor
indoor_df = fIn.append(mIn)
indoor_df['Category']='Indoor'
indoor= indoor_df[["Country","Gender", "Category"]]
indoor

In [ ]:
## append all data together
athletic_records=outdoor.append(indoor)
athletic_records

In [ ]:
## count numbers of records per country
athletic_records['Country'].value_counts()

In [91]:
## add count of records per country as a column
athletic_records['Frequency'] = athletic_records.groupby('Country')['Country'].transform('count')
athletic_records

   Country Gender Category  Frequency
0      USA      F  Outdoor         25
1      USA      F  Outdoor         25
2      GDR      F  Outdoor          5
3      TCH      F  Outdoor          3
4      RUS      F  Outdoor          9
..     ...    ...      ...        ...
17     USA      M   Indoor         25
18     RUS      M   Indoor          9
19     GBR      M   Indoor          3
20     USA      M   Indoor         25
21     USA      M   Indoor         25

[137 rows x 4 columns]

In [ ]:
athletic_records.to_csv('athletic_records.csv')